@{
    ViewData["Title"] = "Bảo trì và Sửa chữa";
}
<link rel="stylesheet" href="~/css/about.css" asp-append-version="true" />

<!-- Banner -->
<div class="about-banner">
    <img src="/userfile/config/Banner-Page-PC.jpg" alt="Banner">
</div>

<!-- Breadcrumb -->
<nav class="about-breadcrumb" aria-label="breadcrumb">
    <div class="container">
        <ol class="breadcrumb mb-0 py-2 px-0">
            <li class="breadcrumb-item"><a href="/">Trang chủ</a></li>
            <li class="breadcrumb-item active" aria-current="page">Dịch vụ</li>
            <li class="breadcrumb-item active" aria-current="page">Bảo trì và Sửa chữa</li>
        </ol>
    </div>
</nav>

<!-- Main Content -->
<div class="about-main-content py-5">
    <div class="container">
        <h1 class="about-title text-center mb-4">Bảo trì và Sửa chữa</h1>
        <hr class="about-title-hr mb-4">
        <div class="about-desc mx-auto" style="max-width: 1100px;">
            <p><b>Là đối tác được ủy quyền độc quyền của nhiều hãng sản xuất có uy tín trên thế giới như Masimo, 
            aXcent, OES Medical,... chúng tôi tự hào mang tới dịch vụ sửa chữa và bảo hành các thiết bị y tế tốt 
            nhất. Hãy liên hệ với chúng tôi để biết thêm chi tiết.</b> </p>
            <p>(đang cập nhật)</p>

        </div>
    </div>
</div>
